 <nav>
 <div class="container">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="side-nav  hide-on-med-and-down" style="transform: translateX(0%);">
    	<li>
    		<a href="http://www.iconoclad.com/">
    			<%= image_tag("logo.jpg", :alt => "iconoClad logo", :class =>"logo") %>
    		</a>
    	</li>
      <li class="bold recent_activity_button"><a href="#!" class="waves-effect waves-grey">Recent Activity</a>
      </li>
      <li class="bold view_items_button"><a href="#!" class="waves-effect waves-grey">View Items</a></li>
      <li class="bold"><%= link_to 'Edit Account', edit_user_registration_path, method: 'get' %></li>
      <li class="bold"><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>

    </ul>
	   <ul class="side-nav" id="mobile-demo">
	     <li>
	    		<a href="http://www.iconoclad.com/">
	    			<%= image_tag("logo.jpg", :alt => "iconoClad logo", :class =>"logo") %>
	    		</a>
	    	</li>
	      <li class="bold recent_activity_button"><a href="#!" class="waves-effect waves-grey">Recent Activity</a>
	      </li>
	      <li class="bold view_items_button"><a href="#!" class="waves-effect waves-grey">View Items</a></li>
	      <li class="bold"><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
	    </ul>
  </div>
</nav>