 <%= render "nav_bar" %>
<div class="row">
  <div class="col s08 offset-s4">
  	<div>
			<h3 class="center-align">Account</h3>
		</div>
		<% if current_user %>
			<h6> Hello <%= current_user.my_last_name %></h6>
		<% end %>
	</div>
	<div class="col s8 offset-s4">
		<table>
        <thead>
          <tr>
              <th data-field="id">Date</th>
              <th data-field="name">Transaction</th>
              <th data-field="price">Amount</th>
          </tr>
        </thead>
        <tbody>
        	<% @recent_activity.each do |item| %>
        		<tr>
	            <td> <%=item.date %></td>
	            <td><%=item.description %></td>
	            <td><%=item.price %></td>
          	</tr>
					<% end %>
        </tbody>
      </table>
	</div>
</div>

