<%= render(partial: 'nav_bar') %>
<div class="row">
  <div class="col s01 offset-m3">
  	<div>
			<h3>Account</h3>
		</div>
		<% if current_user %>
			<h4> Hello Mr. or Ms. <%= current_user.my_last_name.upcase %> (we are very formal here)</h4>
      <h3>Balance: <%= @balance %> </h3>
      <div class="col s10">
        <b> <%= @owners_message %> </b>
      </div>
		<% end %>
	</div>
</div>
<% if @recent_activity_link %> 
  <div class="row hide" id="recent_activity_list">
      <ul id="staggered-recent">
        <div class="row">
          <li class="item">
            <div class="col s01 offset-m3">
              <h4>Recent Activity</h4>
            </div>
          </li>
        </div>
        <div class="row">
          <li class="item">
            <div class="col s01 offset-s1 offset-l3 z-depth-1 item-grid">
              <b>Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            </div>
            <div class="col s7 z-depth-1 item-grid">
              <b class="left-align">Description</b>
            </div>
            <div class="col s01 z-depth-1 item-grid">
              <b>Price</b>
            </div>
          </li>
        </div>
          <% @recent_activity.each do |item| %>
            <div class="row">
              <li class="item">
                <div class="col s01 offset-s1 offset-l3 z-depth-1 item-grid">
                  <P><%= item.date %></P>
                </div>
                <div class="col s7 z-depth-1 item-grid">
                  <P class="left-align"><%= item.description %></P>
                </div>
                <div class="col s01 z-depth-1 item-grid">
                  <P><%= item.price %></P>
                </div>
              </li>
            </div>
          <% end %>
       </ul>
      
    </div>
  </div>
  <div class="row hide" id="view_items_list">
      <ul id="staggered-items">
        <div class="row">
          <li class="item">
            <div class="col s01 offset-m3">
              <h4>Items</h4>
            </div>
          </li>
        </div>
        <div class="row">
          <li class="item">
            <div class="col s01 offset-s1 offset-l3 z-depth-1 item-grid">
              <b>Item #</b>
            </div>
            <div class="col s5 z-depth-1 item-grid">
              <b class="left-align">Description</b>
            </div>
            <div class="col s01 z-depth-1 item-grid">
              <b>Date In &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            </div>
             <div class="col s01 z-depth-1 item-grid">
              <b>Date Out &nbsp;&nbsp;</b>
            </div>
            <div class="col s01 z-depth-1 item-grid">
              <b>Price &nbsp;&nbsp;</b>
            </div>
            <div class="col s01 z-depth-1 item-grid">
              <b>status</b>
            </div>
          </li>
        </div>
          <% @view_items.each do |item| %>
            <div class="row">
              <li class="item">
                <div class="col s01 offset-s1 offset-l3 z-depth-1 item-grid">
                  <P><%= item.item_number %></P>
                </div>
                <div class="col s5 z-depth-1 item-grid">
                  <P class="left-align"><%= item.description %></P>
                </div>
                <div class="col s01 z-depth-1 item-grid">
                  <P><%= item.date_in %></P>
                </div>
                <div class="col s01 z-depth-1 item-grid">
                  <P><%= item.date_out %></P>
                </div>
                <div class="col s01 z-depth-1 item-grid">
                  <P><%= item.price %></P>
                </div>
                <div class="col s01 z-depth-1 item-grid">
                  <P><%= item.status %></P>
                </div>
              </li>
            </div>
          <% end %>
       </ul>
      
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col s01 offset-m3">
      <div>
        <h5>We cannot seem to find your Myresaleweb account.</h5> 
        <h5>Please click "Edit Account" and check your user information.</h5>
      </div>
    </div>
  </div>
<% end %>

