<%= render(partial: 'nav_bar') %>
<div class="row">
  <div class="col s01 offset-m3">
  	<div>
			<h3>Account</h3>
		</div>
		<% if current_user %>
			<h6> Hello Mr. of Ms. <%= current_user.my_last_name.upcase %> (we are very formal here)</h6>
		<% end %>
	</div>
</div>
<div class="row hide" id="recent_activity_list">
    <ul id="staggered-recent">
      <div class="row">
        <li class="item">
           <div class="col s01 offset-m3">
            <h4>Recent Activity</h4>
          </div>
        </li>
      </div>
      <div class="row">
        <li class="item">
           <div class="col s01 offset-s1 offset-l3 z-depth-1 item-grid">
            <b>Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
          </div>
          <div class="col s7 z-depth-1 item-grid">
            <b class="left-align">Description</b>
          </div>
          <div class="col s01 z-depth-1 item-grid">
            <b>Price</b>
          </div>
        </li>
      </div>
        <% @recent_activity.each do |item| %>
          <div class="row">
            <li class="item">
              <div class="col s01 offset-s1 offset-l3 z-depth-1 item-grid">
                <P><%= item.date %></P>
              </div>
              <div class="col s7 z-depth-1 item-grid">
                <P class="left-align"><%= item.description %></P>
              </div>
              <div class="col s01 z-depth-1 item-grid">
                <P><%= item.price %></P>
              </div>
            </li>
          </div>
        <% end %>
     </ul>
    
  </div>
</div>
<div class="row hide" id="view_items_list">
  <div class="">
    <ul id="staggered-items">
      <div class="row">
          <li class="item">
            <div class="col s01 offset-m3 z-depth-1 item-grid">
              <b>Item Number</b>
            </div>
            <div class="col s5 z-depth-1 item-grid">
              <b class="left-align">Description</b>
            </div>
            <div class="col s01 z-depth-1 item-grid">
              <b>Date In &nbsp;&nbsp;&nbsp;</b>
            </div>
            <div class="col s01 z-depth-1 item-grid">
              <b>Date Out &nbsp;&nbsp;&nbsp;</b>
            </div>
            <div class="col s01 z-depth-1 item-grid">
              <b>Price &nbsp;&nbsp;&nbsp;</b>
            </div>
            <div class="col s01 z-depth-1 item-grid">
              <b>Status</b>
            </div>
          </li>
        </div>
      <h3> Items</h3>
        <% @view_items.each do |item| %>
          <div class="row">
            <li class="item">
              <div class="col s01 offset-m3 z-depth-1 item-grid">
                <P> <%= item.item_number %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</P>
              </div>
              <div class="col s5 z-depth-1 item-grid">
                <P class="left-align"><%= item.description %></P>
              </div>
              <div class="col s01 z-depth-1 item-grid">
                <P><%= item.date_in %> </P>
              </div>
              <div class="col s01 z-depth-1 item-grid">
                <P><%= item.date_out %></P>
              </div>
              <div class="col s01 z-depth-1 item-grid">
                <P><%= item.price %></P>
              </div>
              <div class="col s01 z-depth-1 item-grid">
                <P><%= item.status %></P>
              </div>
            </li>
          </div>
        <% end %>
     </ul>
    
  </div>
</div>






